<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>DO AN BAN TEST</title>

    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="header">
        <img src="/img/banner_mobile_small.png" alt="">
    </div>
    <div class="nav-bar">
        <ul>
            <li><a href="/">Trang chủ</a></li>
            <li><a href="intro">Giới Thiệu</a></li>
            <li><a href="#">Phản hồi</a></li>
        </ul>
    </div>
    <table style="border:1px ;">

        <tr>
            <th>Địa Điểm</th>
            <th>Percentsal</th>
            <th>flashw</th>
            <th>day</th>
            <th>Time</th>


        </tr>
        <tr>
            <td class="title" colspan="5">Sông Tiền</td>

        </tr>
        <td>
            <p id="diachis"></p>
        </td>
        <td>
            <p id="percent"></p>
        </td>
        <td>
            <p id="speed"></p>
        </td>
        <td>
            <p id="dubao"></p>
        </td>
        <td>
            <p id="time"></p>
        </td>

        <tr>
            <td class="title" colspan="5" style="background-color:#fff!important;">Sông Hậu</td>

        </tr>
        <td>
            <p id="diachi1"></p>
        </td>
        <td>
            <p id="percent1"></p>
        </td>
        <td>
            <p id="speed1"></p>
        </td>
        <td>
            <p id="dubao1"></p>
        </td>
        <td>
            <p id="time1"></p>
        </td>
        <tr>
            <td class="title" colspan="5" style="background-color:#fff!important;">Sông Sài Gòn</td>

        </tr>
        <td>
            <p id="diachis1"></p>
        </td>
        <td>
            <p id="percents1"></p>
        </td>
        <td>
            <p id="speeds1"></p>
        </td>
        <td>
            <p id="dubaos1"></p>
        </td>
        <td>
            <p id="times1"></p>
        </td>
        <script>
            <% sensorlist.forEach(loca0 => {%>
            var h = JSON.stringify('<%=loca0.Percentsals%>')
                document.getElementById("diachis").innerHTML = `<%=loca0.diachis%>`

                document.getElementById("percent").innerHTML = `<%=loca0.Percentsals%>%`
                document.getElementById("speed").innerHTML = `<%=loca0.flashws%>`
                document.getElementById("dubao").innerHTML = `<%=loca0.dubaos%>`
                document.getElementById("time").innerHTML = `<%=loca0.times%> <%=loca0.hours%>`



                    <%}) %>
            <% sensorlist1.forEach(loca2 => {%>
            var h = JSON.stringify('<%=loca2.Percentsal1%>')
                        document.getElementById("diachi1").innerHTML = `<%=loca2.diachi1%>`

                        document.getElementById("percent1").innerHTML = `<%=loca2.Percentsal1%>%`
                        document.getElementById("speed1").innerHTML = `<%=loca2.flashw1%>`
                        document.getElementById("dubao1").innerHTML = `<%=loca2.dubao1%>`
                        document.getElementById("time1").innerHTML = `<%=loca2.time1%>,<%=loca2.hour2%>`



                            <%}) %>
                            <% hehe.forEach(test1 => {%>
                         var h = JSON.stringify('<%=test1.Percentsals1%>')
                        document.getElementById("diachis1").innerHTML = `<%=test1.diachis1%>`

                        document.getElementById("percents1").innerHTML = `<%=test1.Percentsals1%>%`
                        document.getElementById("speeds1").innerHTML = `<%=test1.flashws1%>`
                        document.getElementById("dubaos1").innerHTML = `<%=test1.dubaos1%>`
                        document.getElementById("times1").innerHTML = `<%=test1.times1%>,<%=test1.hours1%>`



                            <%}) %>
        </script>
       
   
        <br>

    </table>

    <div class="container">
        <canvas id="myChart1"></canvas>
        <canvas id="myChart"></canvas>
    </div>

    <script>
            let myChart = document.getElementById('myChart').getContext('2d');
        // Global Options

        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';

        let massPopChart = new Chart(myChart, {
            type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                labels: [<% sensorlist.forEach(loca0 => {%>
                    '<%=loca0.times%>', <%}) %>
                ],
                datasets: [{
                    label: 'Phần trăm độ mặn',

                    data: [
                        <% sensorlist.forEach(loca0 => {%>
                        <%=loca0.Percentsals %>, <%}) %>
                    ],
                    //backgroundColor:'green',
                    backgroundColor: '#efbd75',
                    fill: false,

                    borderWidth: 1,
                    borderColor: '#777',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#fff',
                    tension: 0

                }, {
                    label: 'Trung bình',
                    data: [
                        0.5,
                        1,
                        1,
                        3,
                        4,
                        5
                    ],
                    //backgroundColor:'green',
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(54, 162, 235, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)'
                    ],
                    fill: false,

                    borderWidth: 1,
                    borderColor: '#000',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#fff',
                    tension: 0,
                    pointBackgroundColor: '#fff',
                }],

            },

            options: {

                title: {
                    display: true,
                    text: 'Sông Hậu',
                    fontSize: 20
                },
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                },
                tooltips: {
                    enabled: true
                }
            }
        });
    </script>
    <script>
        let myChart1 = document.getElementById('myChart1').getContext('2d');
        // Global Options

        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#000';

        let massPopChart1 = new Chart(myChart1, {
            type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                labels: [
                    <% sensorlist1.forEach(loca2 => {%>
                    '<%=loca2.time1%>', <%}) %>
                ],
                datasets: [{
                    label: 'Phần trăm độ mặn',

                    data: [
                        <% sensorlist1.forEach(loca2 => {%>
                        <%=loca2.Percentsal1 %>,
                        <%}) %>
                    ],
                    //backgroundColor:'green',
                    backgroundColor: '#70c2b4',
                    fill: false,

                    borderWidth: 1,
                    borderColor: '#000',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000',
                    tension: 0

                }, {
                    label: 'Trung bình',
                    data: [
                        0.5,
                        1,
                        1,
                        3,
                        4,
                        5
                    ],
                    //backgroundColor:'green',
                    backgroundColor: '#f17ab6',
                    fill: false,

                    borderWidth: 1,
                    borderColor: '#000',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#fff',
                    tension: 0,
                    pointBackgroundColor: '#000',
                }],

            },

            options: {
                title: {
                    display: true,
                    text: 'con chim non',
                    fontSize: 20
                },
                title: {
                    display: true,
                    text: 'Phú Phong',
                    fontSize: 20
                },
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                },
                tooltips: {
                    enabled: true
                }
            }
        });
    </script>
    <script>

        var show = document.getElementById("show");
        var select = document.getElementById("select");
        async function fetchHandler() {

            let response = await fetch('http://localhost:8000/appdata');
            let posts = await response.json()
            //  javascript_freelancers = posts.loca2
            //console.log(posts);
            select.onchange = function () {
                value = select.options[select.selectedIndex].text;
                va = posts.loca2
                let javascript_freelancers = va.filter(function (freelancer) {
                    //return freelancer.thuonghieu == "Samsung";

                    return freelancer.diachi1 == value;

                });
                console.log(javascript_freelancers)
                list1.innerHTML = ""
                for (i = 0; i < javascript_freelancers.length; i++) {
                    list1.innerHTML +=
                        `
    <table style="border:1px ;">

        <tr>
            <th>Địa Điểm</th>
            <th>Percentsal</th>
            <th>flashw</th>
            <th>day</th>
            <th>Time</th>


        </tr>

            <tr>
                <td>
                    ${javascript_freelancers[i].diachi1}
                </td>
                <td>
                    ${javascript_freelancers[i].Percentsal1}
                <td>
                    ${javascript_freelancers[i].flashw1}

                </td>
                <td>
                    ${javascript_freelancers[i].dubao1}
                </td>
                <td>
                    ${javascript_freelancers[i].time1}
                </td>


            </tr>
    </table> `
                }

            }
        }
        fetchHandler()

        select1.onchange = function () {
            value1 = select1.options[select.selectedIndex].text;
            va = [data.loca2]
            let javascript_freelancers1 = data.filter(function (freelancer) {
                //return freelancer.thuonghieu == "Samsung";

                return freelancer.diachi1 == value1;

            });
            console.log(javascript_freelancers1)
            list1.innerHTML = ""
            for (i = 0; i < javascript_freelancers.length; i++) {
                list1.innerHTML +=

                    ` <div class="dt">
                <img src="${javascript_freelancers1[i]._id}">
                <h3>${javascript_freelancers1[i].diachi1}</h3>
                <h4>${javascript_freelancers1[i].flashw1} -${javascript_freelancers1[i].dubao1} </h4>
                </div>
                `

            }

        }
        if (value == "Boots") {
            show.innerHTML = `
    <table style="border:1px ;">

        <tr>
            <th>Địa Điểm</th>
            <th>Percentsal</th>
            <th>flashw</th>
            <th>day</th>
            <th>Time</th>


        </tr>
        <%sensorlist1.forEach(loca2 =>{%>

            <tr>
                <td>
                    <%= loca2.diachi1%>
                </td>
                <td>
                    <%= loca2.Percentsal1 %>%</td>
                <td>
                    <%= loca2.flashw1 %>
                </td>
                <td>
                    <%= loca2.dubao1 %>
                </td>
                <td>
                    <%= loca2.time1 %>
                </td>


            </tr>
            <%})%>;
            <%sensorlist.forEach(loca0 =>{%>

<tr>
    <td>
        <%= loca0.diachis%>
    </td>
    <td>
        <%= loca0.Percentsals %>%</td>
    <td>
        <%= loca0.flashws %>
    </td>
    <td>
        <%= loca0.dubaos %>
    </td>
    <td>
        <%= loca0.times %>
    </td>


</tr>
<%})%>;
    </table> `
        } else if (value == "Socks") {
            show.innerHTML = "You selected Socks";
        } else if (value == "tie") {
            show.innerHTML = "You selected Tie";
        } else {
            show.innerHTML = "";
        }

    </script>


    </div>
    <div class="footer">
        <div class="footer-top">
            <!--    Custom mobile   -->
            <div class="f-t-element f-t-element-first col-md-4 col-sm-6">
                <div class="f-t-e-title">LIÊN HỆ</div>
                <div class="f-t-e-content">
                    <br>LÊ MINH PHÁT</br>
                    <br>Email: minhlee17999@gmail.com</br>
                    <p>TRƯỜNG ĐẠI HỌC CÔNG NGHIỆP TP.&nbsp;HCM<br> Địa chỉ : Số 12 Nguyễn Văn Bảo, Phường&nbsp;4,<br>
                        Quận&nbsp;Gò Vấp, Thành phố&nbsp;Hồ Chí Minh<br> Điện thoại: <a href="tel:02838940390">0283.8940
                            390</a><br> Fax: <a href="tel:02839940954">0283.9940 954</a><br> Email:&nbsp;
                        <a href="mailto:dhcn@iuh.edu.vn">dhcn@iuh.edu.vn</a>
                    </p>

                </div>
            </div>
            <div class="f-t-element f-t-element-first col-md-4 col-sm-6">
                <p>© Bản quyền 2022 - sv.LÊ MINH PHÁT<br>
                    <span style="font-size:10px; font-weight:normal"><em>Mọi hành động sử dụng nội dung đăng tải trên
                            Website đồ án của sinh viên&nbsp;có sự đồng ý bằng văn bản của Sv.LÊ MINH PHÁT.</em></span>
                </p>
            </div>

            <div class="clearfix"></div>

        </div>
    </div>

</body>

</html>